<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Reporttest" verbose="1" >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>

    <parameter name="URL" value="http://seep-digilink.in/">
        <parameter name="browser" value="Chrome"/>
        <parameter name="RunMode" value="grid" />
        <parameter name="PlatformName" value="ANY" />
        <parameter name="browserVersion" value="ANY"/>
    </parameter>
<test name="Chrome ">

    <classes>

      <class name="com.annectos.webdriver.TestCases.SeepCases.SeepProfilePageCases" >
        <methods>


        </methods>
        </class>
    </classes>
</test>
</suite>
